/* style.css */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set up basic typography */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 52, 95);
  }
  
.menu-bar{
    background-color: blanchedalmond;
 
}

.menu-bar ul{
    display: inline-flex;
    width: 120px;
    list-style: none;
    color: black;
}

.menu-bar ul li{
    margin: 10px;
    padding: 10px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.active, .menu-bar ul li:hover{
    background-color: brown;
    border-radius: 3px;
}


  .desc {
    height: 200px;
    margin: 0 auto;
    padding: 1em;
  }

.desc p{
    text-align: center;
    padding: 30px 160px;
}
.desc h2{
    text-align: center;
}

  footer {

    background-color: rgb(145, 28, 28);
    padding: 1em;
    text-align: center;
  }
  