/* style.css */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set up basic typography */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    position:relative;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(14, 72, 138);
    
  }
  @import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
  }
  
  nav a:hover,
  nav .dropdown:hover > a {
    background-color: #444;
  }
  
  nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  nav .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  nav .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  nav .dropdown:hover .dropdown-content {
    display: block;
  }

.container-sec{
  display: flex;
  height: 700px;
  justify-content: center;
  text-align: center;
}

  .container {
    height: 400px;
    width: 500px;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
}
  
.btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 30px rgb(254, 215, 188);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.login,
.signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
  
.slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91));
    position: absolute;
    top: 20px;
    left: 100px;
    transition: all 0.5s ease-in-out;
}
  
.moveslider {
    left: 250px;
}
  
.form-section {
    height: 250px;
    padding: 20px 0;
    display: flex;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0px;
}
  
.form-section-move {
    left: -500px;
}
  
.login-box,
.signup-box {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}
  
.login-box {
    gap: 50px;
}
  
.signup-box {
    gap: 30px;
}
  
.ele {
    height: 60px;
    width: 400px;
    outline: none;
    border: none;
    color: rgb(77, 77, 77);
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    padding-left: 30px;
    font-size: 18px;
}
  
.clkbtn {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91));
    font-size: 22px;
    border: none;
    cursor: pointer;
}
  
/* For Responsiveness of the page */
  
@media screen and (max-width: 650px) {
    .container {
        height: 600px;
        width: 300px;
    }
  
    .title {
        font-size: 15px;
    }
  
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
  
    .login,
    .signup {
        font-size: 19px;
    }
  
    .slider {
        height: 50px;
        width: 100px;
        left: 50px;
    }
  
    .moveslider {
        left: 150px;
    }
  
    .form-section {
        height: 500px;
        width: 600px;
    }
  
    .form-section-move {
        left: -300px;
    }
  
    .login-box,
    .signup-box {
        height: 100%;
        width: 300px;
    }
  
    .ele {
        height: 50px;
        width: 250px;
        font-size: 15px;
    }
  
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}
  
@media screen and (max-width: 320px) {
    .container {
        height: 600px;
        width: 250px;
    }
  
    .heading {
        font-size: 30px;
    }
  
    .title {
        font-size: 10px;
    }
  
    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }
  
    .login,
    .signup {
        font-size: 19px;
    }
  
    .slider {
        height: 50px;
        width: 100px;
        left: 27px;
    }
  
    .moveslider {
        left: 127px;
    }
  
    .form-section {
        height: 500px;
        width: 500px;
    }
  
    .form-section-move {
        left: -250px;
    }
  
    .login-box,
    .signup-box {
        height: 100%;
        width: 250px;
    }
  
    .ele {
        height: 50px;
        width: 220px;
        font-size: 15px;
    }
  
    .clkbtn {
        height: 50px;
        width: 130px;
        font-size: 19px;
    }
}  


.description {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 200px;
  margin: 0 auto;
  padding: 1em;
}

#desc-box{
    text-align: center;
    padding: 30px 160px;
}


footer {

    background-color: rgb(180, 76, 76);
    padding: 1em;
    text-align: center;
}
  